.box-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.box-row-wrap {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/*flex-box option*/
.box-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -content: space-around;
}

.box-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -content: flex-start;
}

.box-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -content: flex-end;
}

.box-center {
  -webkit-justify-content: center;
  justify-content: center;
  -content: center;
}

.box-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -content: space-between;
}

.box-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.box-middle {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

.box-xs-0 {
  width: 0%;
}

.box-xs-5 {
  width: 5%;
}

.box-xs-10 {
  width: 10%;
}

.box-xs-15 {
  width: 15%;
}

.box-xs-16 {
  width: 16.66%;
}

.box-xs-20 {
  width: 20%;
}

.box-xs-25 {
  width: 25%;
}

.box-xs-30 {
  width: 30%;
}

.box-xs-33 {
  width: 33.33%;
}

.box-xs-35 {
  width: 35%;
}

.box-xs-40 {
  width: 40%;
}

.box-xs-41 {
  width: 41.66%;
}

.box-xs-45 {
  width: 45%;
}

.box-xs-50 {
  width: 50%;
}

.box-xs-55 {
  width: 55%;
}

.box-xs-60 {
  width: 60%;
}

.box-xs-65 {
  width: 65%;
}

.box-xs-70 {
  width: 70%;
}

.box-xs-75 {
  width: 75%;
}

.box-xs-80 {
  width: 80%;
}

.box-xs-85 {
  width: 85%;
}

.box-xs-90 {
  width: 90%;
}

.box-xs-95 {
  width: 95%;
}

.box-xs-100 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .box-sm-0 {
    width: 0%;
  }

  .box-sm-5 {
    width: 5%;
  }

  .box-sm-10 {
    width: 10%;
  }

  .box-sm-15 {
    width: 15%;
  }

  .box-sm-20 {
    width: 20%;
  }

  .box-sm-25 {
    width: 25%;
  }

  .box-sm-30 {
    width: 30%;
  }

  .box-sm-33 {
    width: 33.33%;
  }

  .box-sm-35 {
    width: 35%;
  }

  .box-sm-40 {
    width: 40%;
  }

  .box-sm-45 {
    width: 45%;
  }

  .box-sm-50 {
    width: 50%;
  }

  .box-sm-55 {
    width: 55%;
  }

  .box-sm-60 {
    width: 60%;
  }

  .box-sm-65 {
    width: 65%;
  }

  .box-sm-70 {
    width: 70%;
  }

  .box-sm-75 {
    width: 75%;
  }

  .box-sm-80 {
    width: 80%;
  }

  .box-sm-85 {
    width: 85%;
  }

  .box-sm-90 {
    width: 90%;
  }

  .box-sm-95 {
    width: 95%;
  }

  .box-sm-100 {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .box-md-0 {
    width: 0%;
  }

  .box-md-5 {
    width: 5%;
  }

  .box-md-10 {
    width: 10%;
  }

  .box-md-15 {
    width: 15%;
  }

  .box-md-20 {
    width: 20%;
  }

  .box-md-25 {
    width: 25%;
  }

  .box-md-30 {
    width: 30%;
  }

  .box-md-33 {
    width: 33.33%;
  }

  .box-md-35 {
    width: 35%;
  }

  .box-md-40 {
    width: 40%;
  }

  .box-md-45 {
    width: 45%;
  }

  .box-md-50 {
    width: 50%;
  }

  .box-md-55 {
    width: 55%;
  }

  .box-md-60 {
    width: 60%;
  }

  .box-md-65 {
    width: 65%;
  }

  .box-md-70 {
    width: 70%;
  }

  .box-md-75 {
    width: 75%;
  }

  .box-md-80 {
    width: 80%;
  }

  .box-md-85 {
    width: 85%;
  }

  .box-md-90 {
    width: 90%;
  }

  .box-md-95 {
    width: 95%;
  }

  .box-md-100 {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .box-lg-0 {
    width: 0%;
  }

  .box-lg-5 {
    width: 5%;
  }

  .box-lg-10 {
    width: 10%;
  }

  .box-lg-15 {
    width: 15%;
  }

  .box-lg-20 {
    width: 20%;
  }

  .box-lg-25 {
    width: 25%;
  }

  .box-lg-30 {
    width: 30%;
  }

  .box-lg-35 {
    width: 35%;
  }

  .box-lg-33 {
    width: 33.33%;
  }

  .box-lg-40 {
    width: 40%;
  }

  .box-lg-45 {
    width: 45%;
  }

  .box-lg-50 {
    width: 50%;
  }

  .box-lg-55 {
    width: 55%;
  }

  .box-lg-60 {
    width: 60%;
  }

  .box-lg-65 {
    width: 65%;
  }

  .box-lg-70 {
    width: 70%;
  }

  .box-lg-75 {
    width: 75%;
  }

  .box-lg-80 {
    width: 80%;
  }

  .box-lg-85 {
    width: 85%;
  }

  .box-lg-90 {
    width: 90%;
  }

  .box-lg-95 {
    width: 95%;
  }

  .box-lg-100 {
    width: 100%;
  }
}

.m0 {
  margin: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.p0 {
  padding: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.m5 {
  margin: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.p5 {
  padding: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.p10 {
  padding: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.p15 {
  padding: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.p20 {
  padding: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.m25 {
  margin: 25px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.p25 {
  padding: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.m30 {
  margin: 30px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.p30 {
  padding: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.m35 {
  margin: 35px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.p35 {
  padding: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.m40 {
  margin: 40px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.p40 {
  padding: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.m45 {
  margin: 45px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.p45 {
  padding: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.m50 {
  margin: 50px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.p50 {
  padding: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.block-pc {
  display: block !important;
}

.block-sp {
  display: none !important;
}

.flex-pc {
  display: flex !important;
}

.flex-sp {
  display: none !important;
}

.table-pc {
  display: table !important;
}

.table-sp {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .block-pc {
    display: none !important;
  }

  .block-sp {
    display: block !important;
  }

  .flex-pc {
    display: none !important;
  }

  .flex-sp {
    display: flex !important;
  }

  .table-pc {
    display: none !important;
  }

  .table-sp {
    display: table !important;
  }
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1060px) {
  .wrap {
    width: auto;
    max-width: none;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}


a[href^="tel:"] {
  pointer-events: none;
  cursor: text;
}

@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: auto;
    cursor: pointer;
  }
}
