@charset "UTF-8";
.box-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.box-row-wrap {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

/*flex-box option*/
.box-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -content: space-around; }

.box-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -content: flex-start; }

.box-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -content: flex-end; }

.box-center {
  -webkit-justify-content: center;
  justify-content: center;
  -content: center; }

.box-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -content: space-between; }

.box-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start; }

.box-middle {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.box-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end; }

.box-container > * {
  min-height: 1px; }

.box-xs-0 {
  width: 0%; }

.box-xs-1 {
  width: 1%; }

.box-xs-2 {
  width: 2%; }

.box-xs-3 {
  width: 3%; }

.box-xs-4 {
  width: 4%; }

.box-xs-5 {
  width: 5%; }

.box-xs-6 {
  width: 6%; }

.box-xs-7 {
  width: 7%; }

.box-xs-8 {
  width: 8%; }

.box-xs-9 {
  width: 9%; }

.box-xs-10 {
  width: 10%; }

.box-xs-11 {
  width: 11%; }

.box-xs-12 {
  width: 12%; }

.box-xs-13 {
  width: 13%; }

.box-xs-14 {
  width: 14%; }

.box-xs-15 {
  width: 15%; }

.box-xs-16 {
  width: 16%; }

.box-xs-17 {
  width: 17%; }

.box-xs-18 {
  width: 18%; }

.box-xs-19 {
  width: 19%; }

.box-xs-20 {
  width: 20%; }

.box-xs-21 {
  width: 21%; }

.box-xs-22 {
  width: 22%; }

.box-xs-23 {
  width: 23%; }

.box-xs-24 {
  width: 24%; }

.box-xs-25 {
  width: 25%; }

.box-xs-26 {
  width: 26%; }

.box-xs-27 {
  width: 27%; }

.box-xs-28 {
  width: 28%; }

.box-xs-29 {
  width: 29%; }

.box-xs-30 {
  width: 30%; }

.box-xs-31 {
  width: 31%; }

.box-xs-32 {
  width: 32%; }

.box-xs-33 {
  width: 33%; }

.box-xs-34 {
  width: 34%; }

.box-xs-35 {
  width: 35%; }

.box-xs-36 {
  width: 36%; }

.box-xs-37 {
  width: 37%; }

.box-xs-38 {
  width: 38%; }

.box-xs-39 {
  width: 39%; }

.box-xs-40 {
  width: 40%; }

.box-xs-41 {
  width: 41%; }

.box-xs-42 {
  width: 42%; }

.box-xs-43 {
  width: 43%; }

.box-xs-44 {
  width: 44%; }

.box-xs-45 {
  width: 45%; }

.box-xs-46 {
  width: 46%; }

.box-xs-47 {
  width: 47%; }

.box-xs-48 {
  width: 48%; }

.box-xs-49 {
  width: 49%; }

.box-xs-50 {
  width: 50%; }

.box-xs-51 {
  width: 51%; }

.box-xs-52 {
  width: 52%; }

.box-xs-53 {
  width: 53%; }

.box-xs-54 {
  width: 54%; }

.box-xs-55 {
  width: 55%; }

.box-xs-56 {
  width: 56%; }

.box-xs-57 {
  width: 57%; }

.box-xs-58 {
  width: 58%; }

.box-xs-59 {
  width: 59%; }

.box-xs-60 {
  width: 60%; }

.box-xs-61 {
  width: 61%; }

.box-xs-62 {
  width: 62%; }

.box-xs-63 {
  width: 63%; }

.box-xs-64 {
  width: 64%; }

.box-xs-65 {
  width: 65%; }

.box-xs-66 {
  width: 66%; }

.box-xs-67 {
  width: 67%; }

.box-xs-68 {
  width: 68%; }

.box-xs-69 {
  width: 69%; }

.box-xs-70 {
  width: 70%; }

.box-xs-71 {
  width: 71%; }

.box-xs-72 {
  width: 72%; }

.box-xs-73 {
  width: 73%; }

.box-xs-74 {
  width: 74%; }

.box-xs-75 {
  width: 75%; }

.box-xs-76 {
  width: 76%; }

.box-xs-77 {
  width: 77%; }

.box-xs-78 {
  width: 78%; }

.box-xs-79 {
  width: 79%; }

.box-xs-80 {
  width: 80%; }

.box-xs-81 {
  width: 81%; }

.box-xs-82 {
  width: 82%; }

.box-xs-83 {
  width: 83%; }

.box-xs-84 {
  width: 84%; }

.box-xs-85 {
  width: 85%; }

.box-xs-86 {
  width: 86%; }

.box-xs-87 {
  width: 87%; }

.box-xs-88 {
  width: 88%; }

.box-xs-89 {
  width: 89%; }

.box-xs-90 {
  width: 90%; }

.box-xs-91 {
  width: 91%; }

.box-xs-92 {
  width: 92%; }

.box-xs-93 {
  width: 93%; }

.box-xs-94 {
  width: 94%; }

.box-xs-95 {
  width: 95%; }

.box-xs-96 {
  width: 96%; }

.box-xs-97 {
  width: 97%; }

.box-xs-98 {
  width: 98%; }

.box-xs-99 {
  width: 99%; }

.box-xs-100 {
  width: 100%; }

.box-xs-max-0 {
  max-width: 0%; }

.box-xs-max-1 {
  max-width: 1%; }

.box-xs-max-2 {
  max-width: 2%; }

.box-xs-max-3 {
  max-width: 3%; }

.box-xs-max-4 {
  max-width: 4%; }

.box-xs-max-5 {
  max-width: 5%; }

.box-xs-max-6 {
  max-width: 6%; }

.box-xs-max-7 {
  max-width: 7%; }

.box-xs-max-8 {
  max-width: 8%; }

.box-xs-max-9 {
  max-width: 9%; }

.box-xs-max-10 {
  max-width: 10%; }

.box-xs-max-11 {
  max-width: 11%; }

.box-xs-max-12 {
  max-width: 12%; }

.box-xs-max-13 {
  max-width: 13%; }

.box-xs-max-14 {
  max-width: 14%; }

.box-xs-max-15 {
  max-width: 15%; }

.box-xs-max-16 {
  max-width: 16%; }

.box-xs-max-17 {
  max-width: 17%; }

.box-xs-max-18 {
  max-width: 18%; }

.box-xs-max-19 {
  max-width: 19%; }

.box-xs-max-20 {
  max-width: 20%; }

.box-xs-max-21 {
  max-width: 21%; }

.box-xs-max-22 {
  max-width: 22%; }

.box-xs-max-23 {
  max-width: 23%; }

.box-xs-max-24 {
  max-width: 24%; }

.box-xs-max-25 {
  max-width: 25%; }

.box-xs-max-26 {
  max-width: 26%; }

.box-xs-max-27 {
  max-width: 27%; }

.box-xs-max-28 {
  max-width: 28%; }

.box-xs-max-29 {
  max-width: 29%; }

.box-xs-max-30 {
  max-width: 30%; }

.box-xs-max-31 {
  max-width: 31%; }

.box-xs-max-32 {
  max-width: 32%; }

.box-xs-max-33 {
  max-width: 33%; }

.box-xs-max-34 {
  max-width: 34%; }

.box-xs-max-35 {
  max-width: 35%; }

.box-xs-max-36 {
  max-width: 36%; }

.box-xs-max-37 {
  max-width: 37%; }

.box-xs-max-38 {
  max-width: 38%; }

.box-xs-max-39 {
  max-width: 39%; }

.box-xs-max-40 {
  max-width: 40%; }

.box-xs-max-41 {
  max-width: 41%; }

.box-xs-max-42 {
  max-width: 42%; }

.box-xs-max-43 {
  max-width: 43%; }

.box-xs-max-44 {
  max-width: 44%; }

.box-xs-max-45 {
  max-width: 45%; }

.box-xs-max-46 {
  max-width: 46%; }

.box-xs-max-47 {
  max-width: 47%; }

.box-xs-max-48 {
  max-width: 48%; }

.box-xs-max-49 {
  max-width: 49%; }

.box-xs-max-50 {
  max-width: 50%; }

.box-xs-max-51 {
  max-width: 51%; }

.box-xs-max-52 {
  max-width: 52%; }

.box-xs-max-53 {
  max-width: 53%; }

.box-xs-max-54 {
  max-width: 54%; }

.box-xs-max-55 {
  max-width: 55%; }

.box-xs-max-56 {
  max-width: 56%; }

.box-xs-max-57 {
  max-width: 57%; }

.box-xs-max-58 {
  max-width: 58%; }

.box-xs-max-59 {
  max-width: 59%; }

.box-xs-max-60 {
  max-width: 60%; }

.box-xs-max-61 {
  max-width: 61%; }

.box-xs-max-62 {
  max-width: 62%; }

.box-xs-max-63 {
  max-width: 63%; }

.box-xs-max-64 {
  max-width: 64%; }

.box-xs-max-65 {
  max-width: 65%; }

.box-xs-max-66 {
  max-width: 66%; }

.box-xs-max-67 {
  max-width: 67%; }

.box-xs-max-68 {
  max-width: 68%; }

.box-xs-max-69 {
  max-width: 69%; }

.box-xs-max-70 {
  max-width: 70%; }

.box-xs-max-71 {
  max-width: 71%; }

.box-xs-max-72 {
  max-width: 72%; }

.box-xs-max-73 {
  max-width: 73%; }

.box-xs-max-74 {
  max-width: 74%; }

.box-xs-max-75 {
  max-width: 75%; }

.box-xs-max-76 {
  max-width: 76%; }

.box-xs-max-77 {
  max-width: 77%; }

.box-xs-max-78 {
  max-width: 78%; }

.box-xs-max-79 {
  max-width: 79%; }

.box-xs-max-80 {
  max-width: 80%; }

.box-xs-max-81 {
  max-width: 81%; }

.box-xs-max-82 {
  max-width: 82%; }

.box-xs-max-83 {
  max-width: 83%; }

.box-xs-max-84 {
  max-width: 84%; }

.box-xs-max-85 {
  max-width: 85%; }

.box-xs-max-86 {
  max-width: 86%; }

.box-xs-max-87 {
  max-width: 87%; }

.box-xs-max-88 {
  max-width: 88%; }

.box-xs-max-89 {
  max-width: 89%; }

.box-xs-max-90 {
  max-width: 90%; }

.box-xs-max-91 {
  max-width: 91%; }

.box-xs-max-92 {
  max-width: 92%; }

.box-xs-max-93 {
  max-width: 93%; }

.box-xs-max-94 {
  max-width: 94%; }

.box-xs-max-95 {
  max-width: 95%; }

.box-xs-max-96 {
  max-width: 96%; }

.box-xs-max-97 {
  max-width: 97%; }

.box-xs-max-98 {
  max-width: 98%; }

.box-xs-max-99 {
  max-width: 99%; }

.box-xs-max-100 {
  max-width: 100%; }

.box-xs-min-0 {
  min-width: 0%; }

.box-xs-min-1 {
  min-width: 1%; }

.box-xs-min-2 {
  min-width: 2%; }

.box-xs-min-3 {
  min-width: 3%; }

.box-xs-min-4 {
  min-width: 4%; }

.box-xs-min-5 {
  min-width: 5%; }

.box-xs-min-6 {
  min-width: 6%; }

.box-xs-min-7 {
  min-width: 7%; }

.box-xs-min-8 {
  min-width: 8%; }

.box-xs-min-9 {
  min-width: 9%; }

.box-xs-min-10 {
  min-width: 10%; }

.box-xs-min-11 {
  min-width: 11%; }

.box-xs-min-12 {
  min-width: 12%; }

.box-xs-min-13 {
  min-width: 13%; }

.box-xs-min-14 {
  min-width: 14%; }

.box-xs-min-15 {
  min-width: 15%; }

.box-xs-min-16 {
  min-width: 16%; }

.box-xs-min-17 {
  min-width: 17%; }

.box-xs-min-18 {
  min-width: 18%; }

.box-xs-min-19 {
  min-width: 19%; }

.box-xs-min-20 {
  min-width: 20%; }

.box-xs-min-21 {
  min-width: 21%; }

.box-xs-min-22 {
  min-width: 22%; }

.box-xs-min-23 {
  min-width: 23%; }

.box-xs-min-24 {
  min-width: 24%; }

.box-xs-min-25 {
  min-width: 25%; }

.box-xs-min-26 {
  min-width: 26%; }

.box-xs-min-27 {
  min-width: 27%; }

.box-xs-min-28 {
  min-width: 28%; }

.box-xs-min-29 {
  min-width: 29%; }

.box-xs-min-30 {
  min-width: 30%; }

.box-xs-min-31 {
  min-width: 31%; }

.box-xs-min-32 {
  min-width: 32%; }

.box-xs-min-33 {
  min-width: 33%; }

.box-xs-min-34 {
  min-width: 34%; }

.box-xs-min-35 {
  min-width: 35%; }

.box-xs-min-36 {
  min-width: 36%; }

.box-xs-min-37 {
  min-width: 37%; }

.box-xs-min-38 {
  min-width: 38%; }

.box-xs-min-39 {
  min-width: 39%; }

.box-xs-min-40 {
  min-width: 40%; }

.box-xs-min-41 {
  min-width: 41%; }

.box-xs-min-42 {
  min-width: 42%; }

.box-xs-min-43 {
  min-width: 43%; }

.box-xs-min-44 {
  min-width: 44%; }

.box-xs-min-45 {
  min-width: 45%; }

.box-xs-min-46 {
  min-width: 46%; }

.box-xs-min-47 {
  min-width: 47%; }

.box-xs-min-48 {
  min-width: 48%; }

.box-xs-min-49 {
  min-width: 49%; }

.box-xs-min-50 {
  min-width: 50%; }

.box-xs-min-51 {
  min-width: 51%; }

.box-xs-min-52 {
  min-width: 52%; }

.box-xs-min-53 {
  min-width: 53%; }

.box-xs-min-54 {
  min-width: 54%; }

.box-xs-min-55 {
  min-width: 55%; }

.box-xs-min-56 {
  min-width: 56%; }

.box-xs-min-57 {
  min-width: 57%; }

.box-xs-min-58 {
  min-width: 58%; }

.box-xs-min-59 {
  min-width: 59%; }

.box-xs-min-60 {
  min-width: 60%; }

.box-xs-min-61 {
  min-width: 61%; }

.box-xs-min-62 {
  min-width: 62%; }

.box-xs-min-63 {
  min-width: 63%; }

.box-xs-min-64 {
  min-width: 64%; }

.box-xs-min-65 {
  min-width: 65%; }

.box-xs-min-66 {
  min-width: 66%; }

.box-xs-min-67 {
  min-width: 67%; }

.box-xs-min-68 {
  min-width: 68%; }

.box-xs-min-69 {
  min-width: 69%; }

.box-xs-min-70 {
  min-width: 70%; }

.box-xs-min-71 {
  min-width: 71%; }

.box-xs-min-72 {
  min-width: 72%; }

.box-xs-min-73 {
  min-width: 73%; }

.box-xs-min-74 {
  min-width: 74%; }

.box-xs-min-75 {
  min-width: 75%; }

.box-xs-min-76 {
  min-width: 76%; }

.box-xs-min-77 {
  min-width: 77%; }

.box-xs-min-78 {
  min-width: 78%; }

.box-xs-min-79 {
  min-width: 79%; }

.box-xs-min-80 {
  min-width: 80%; }

.box-xs-min-81 {
  min-width: 81%; }

.box-xs-min-82 {
  min-width: 82%; }

.box-xs-min-83 {
  min-width: 83%; }

.box-xs-min-84 {
  min-width: 84%; }

.box-xs-min-85 {
  min-width: 85%; }

.box-xs-min-86 {
  min-width: 86%; }

.box-xs-min-87 {
  min-width: 87%; }

.box-xs-min-88 {
  min-width: 88%; }

.box-xs-min-89 {
  min-width: 89%; }

.box-xs-min-90 {
  min-width: 90%; }

.box-xs-min-91 {
  min-width: 91%; }

.box-xs-min-92 {
  min-width: 92%; }

.box-xs-min-93 {
  min-width: 93%; }

.box-xs-min-94 {
  min-width: 94%; }

.box-xs-min-95 {
  min-width: 95%; }

.box-xs-min-96 {
  min-width: 96%; }

.box-xs-min-97 {
  min-width: 97%; }

.box-xs-min-98 {
  min-width: 98%; }

.box-xs-min-99 {
  min-width: 99%; }

.box-xs-min-100 {
  min-width: 100%; }

@media (min-width: 768px) {
  .box-sm-0 {
    width: 0%; }
  .box-sm-1 {
    width: 1%; }
  .box-sm-2 {
    width: 2%; }
  .box-sm-3 {
    width: 3%; }
  .box-sm-4 {
    width: 4%; }
  .box-sm-5 {
    width: 5%; }
  .box-sm-6 {
    width: 6%; }
  .box-sm-7 {
    width: 7%; }
  .box-sm-8 {
    width: 8%; }
  .box-sm-9 {
    width: 9%; }
  .box-sm-10 {
    width: 10%; }
  .box-sm-11 {
    width: 11%; }
  .box-sm-12 {
    width: 12%; }
  .box-sm-13 {
    width: 13%; }
  .box-sm-14 {
    width: 14%; }
  .box-sm-15 {
    width: 15%; }
  .box-sm-16 {
    width: 16%; }
  .box-sm-17 {
    width: 17%; }
  .box-sm-18 {
    width: 18%; }
  .box-sm-19 {
    width: 19%; }
  .box-sm-20 {
    width: 20%; }
  .box-sm-21 {
    width: 21%; }
  .box-sm-22 {
    width: 22%; }
  .box-sm-23 {
    width: 23%; }
  .box-sm-24 {
    width: 24%; }
  .box-sm-25 {
    width: 25%; }
  .box-sm-26 {
    width: 26%; }
  .box-sm-27 {
    width: 27%; }
  .box-sm-28 {
    width: 28%; }
  .box-sm-29 {
    width: 29%; }
  .box-sm-30 {
    width: 30%; }
  .box-sm-31 {
    width: 31%; }
  .box-sm-32 {
    width: 32%; }
  .box-sm-33 {
    width: 33%; }
  .box-sm-34 {
    width: 34%; }
  .box-sm-35 {
    width: 35%; }
  .box-sm-36 {
    width: 36%; }
  .box-sm-37 {
    width: 37%; }
  .box-sm-38 {
    width: 38%; }
  .box-sm-39 {
    width: 39%; }
  .box-sm-40 {
    width: 40%; }
  .box-sm-41 {
    width: 41%; }
  .box-sm-42 {
    width: 42%; }
  .box-sm-43 {
    width: 43%; }
  .box-sm-44 {
    width: 44%; }
  .box-sm-45 {
    width: 45%; }
  .box-sm-46 {
    width: 46%; }
  .box-sm-47 {
    width: 47%; }
  .box-sm-48 {
    width: 48%; }
  .box-sm-49 {
    width: 49%; }
  .box-sm-50 {
    width: 50%; }
  .box-sm-51 {
    width: 51%; }
  .box-sm-52 {
    width: 52%; }
  .box-sm-53 {
    width: 53%; }
  .box-sm-54 {
    width: 54%; }
  .box-sm-55 {
    width: 55%; }
  .box-sm-56 {
    width: 56%; }
  .box-sm-57 {
    width: 57%; }
  .box-sm-58 {
    width: 58%; }
  .box-sm-59 {
    width: 59%; }
  .box-sm-60 {
    width: 60%; }
  .box-sm-61 {
    width: 61%; }
  .box-sm-62 {
    width: 62%; }
  .box-sm-63 {
    width: 63%; }
  .box-sm-64 {
    width: 64%; }
  .box-sm-65 {
    width: 65%; }
  .box-sm-66 {
    width: 66%; }
  .box-sm-67 {
    width: 67%; }
  .box-sm-68 {
    width: 68%; }
  .box-sm-69 {
    width: 69%; }
  .box-sm-70 {
    width: 70%; }
  .box-sm-71 {
    width: 71%; }
  .box-sm-72 {
    width: 72%; }
  .box-sm-73 {
    width: 73%; }
  .box-sm-74 {
    width: 74%; }
  .box-sm-75 {
    width: 75%; }
  .box-sm-76 {
    width: 76%; }
  .box-sm-77 {
    width: 77%; }
  .box-sm-78 {
    width: 78%; }
  .box-sm-79 {
    width: 79%; }
  .box-sm-80 {
    width: 80%; }
  .box-sm-81 {
    width: 81%; }
  .box-sm-82 {
    width: 82%; }
  .box-sm-83 {
    width: 83%; }
  .box-sm-84 {
    width: 84%; }
  .box-sm-85 {
    width: 85%; }
  .box-sm-86 {
    width: 86%; }
  .box-sm-87 {
    width: 87%; }
  .box-sm-88 {
    width: 88%; }
  .box-sm-89 {
    width: 89%; }
  .box-sm-90 {
    width: 90%; }
  .box-sm-91 {
    width: 91%; }
  .box-sm-92 {
    width: 92%; }
  .box-sm-93 {
    width: 93%; }
  .box-sm-94 {
    width: 94%; }
  .box-sm-95 {
    width: 95%; }
  .box-sm-96 {
    width: 96%; }
  .box-sm-97 {
    width: 97%; }
  .box-sm-98 {
    width: 98%; }
  .box-sm-99 {
    width: 99%; }
  .box-sm-100 {
    width: 100%; }
  .box-sm-max-0 {
    max-width: 0%; }
  .box-sm-max-1 {
    max-width: 1%; }
  .box-sm-max-2 {
    max-width: 2%; }
  .box-sm-max-3 {
    max-width: 3%; }
  .box-sm-max-4 {
    max-width: 4%; }
  .box-sm-max-5 {
    max-width: 5%; }
  .box-sm-max-6 {
    max-width: 6%; }
  .box-sm-max-7 {
    max-width: 7%; }
  .box-sm-max-8 {
    max-width: 8%; }
  .box-sm-max-9 {
    max-width: 9%; }
  .box-sm-max-10 {
    max-width: 10%; }
  .box-sm-max-11 {
    max-width: 11%; }
  .box-sm-max-12 {
    max-width: 12%; }
  .box-sm-max-13 {
    max-width: 13%; }
  .box-sm-max-14 {
    max-width: 14%; }
  .box-sm-max-15 {
    max-width: 15%; }
  .box-sm-max-16 {
    max-width: 16%; }
  .box-sm-max-17 {
    max-width: 17%; }
  .box-sm-max-18 {
    max-width: 18%; }
  .box-sm-max-19 {
    max-width: 19%; }
  .box-sm-max-20 {
    max-width: 20%; }
  .box-sm-max-21 {
    max-width: 21%; }
  .box-sm-max-22 {
    max-width: 22%; }
  .box-sm-max-23 {
    max-width: 23%; }
  .box-sm-max-24 {
    max-width: 24%; }
  .box-sm-max-25 {
    max-width: 25%; }
  .box-sm-max-26 {
    max-width: 26%; }
  .box-sm-max-27 {
    max-width: 27%; }
  .box-sm-max-28 {
    max-width: 28%; }
  .box-sm-max-29 {
    max-width: 29%; }
  .box-sm-max-30 {
    max-width: 30%; }
  .box-sm-max-31 {
    max-width: 31%; }
  .box-sm-max-32 {
    max-width: 32%; }
  .box-sm-max-33 {
    max-width: 33%; }
  .box-sm-max-34 {
    max-width: 34%; }
  .box-sm-max-35 {
    max-width: 35%; }
  .box-sm-max-36 {
    max-width: 36%; }
  .box-sm-max-37 {
    max-width: 37%; }
  .box-sm-max-38 {
    max-width: 38%; }
  .box-sm-max-39 {
    max-width: 39%; }
  .box-sm-max-40 {
    max-width: 40%; }
  .box-sm-max-41 {
    max-width: 41%; }
  .box-sm-max-42 {
    max-width: 42%; }
  .box-sm-max-43 {
    max-width: 43%; }
  .box-sm-max-44 {
    max-width: 44%; }
  .box-sm-max-45 {
    max-width: 45%; }
  .box-sm-max-46 {
    max-width: 46%; }
  .box-sm-max-47 {
    max-width: 47%; }
  .box-sm-max-48 {
    max-width: 48%; }
  .box-sm-max-49 {
    max-width: 49%; }
  .box-sm-max-50 {
    max-width: 50%; }
  .box-sm-max-51 {
    max-width: 51%; }
  .box-sm-max-52 {
    max-width: 52%; }
  .box-sm-max-53 {
    max-width: 53%; }
  .box-sm-max-54 {
    max-width: 54%; }
  .box-sm-max-55 {
    max-width: 55%; }
  .box-sm-max-56 {
    max-width: 56%; }
  .box-sm-max-57 {
    max-width: 57%; }
  .box-sm-max-58 {
    max-width: 58%; }
  .box-sm-max-59 {
    max-width: 59%; }
  .box-sm-max-60 {
    max-width: 60%; }
  .box-sm-max-61 {
    max-width: 61%; }
  .box-sm-max-62 {
    max-width: 62%; }
  .box-sm-max-63 {
    max-width: 63%; }
  .box-sm-max-64 {
    max-width: 64%; }
  .box-sm-max-65 {
    max-width: 65%; }
  .box-sm-max-66 {
    max-width: 66%; }
  .box-sm-max-67 {
    max-width: 67%; }
  .box-sm-max-68 {
    max-width: 68%; }
  .box-sm-max-69 {
    max-width: 69%; }
  .box-sm-max-70 {
    max-width: 70%; }
  .box-sm-max-71 {
    max-width: 71%; }
  .box-sm-max-72 {
    max-width: 72%; }
  .box-sm-max-73 {
    max-width: 73%; }
  .box-sm-max-74 {
    max-width: 74%; }
  .box-sm-max-75 {
    max-width: 75%; }
  .box-sm-max-76 {
    max-width: 76%; }
  .box-sm-max-77 {
    max-width: 77%; }
  .box-sm-max-78 {
    max-width: 78%; }
  .box-sm-max-79 {
    max-width: 79%; }
  .box-sm-max-80 {
    max-width: 80%; }
  .box-sm-max-81 {
    max-width: 81%; }
  .box-sm-max-82 {
    max-width: 82%; }
  .box-sm-max-83 {
    max-width: 83%; }
  .box-sm-max-84 {
    max-width: 84%; }
  .box-sm-max-85 {
    max-width: 85%; }
  .box-sm-max-86 {
    max-width: 86%; }
  .box-sm-max-87 {
    max-width: 87%; }
  .box-sm-max-88 {
    max-width: 88%; }
  .box-sm-max-89 {
    max-width: 89%; }
  .box-sm-max-90 {
    max-width: 90%; }
  .box-sm-max-91 {
    max-width: 91%; }
  .box-sm-max-92 {
    max-width: 92%; }
  .box-sm-max-93 {
    max-width: 93%; }
  .box-sm-max-94 {
    max-width: 94%; }
  .box-sm-max-95 {
    max-width: 95%; }
  .box-sm-max-96 {
    max-width: 96%; }
  .box-sm-max-97 {
    max-width: 97%; }
  .box-sm-max-98 {
    max-width: 98%; }
  .box-sm-max-99 {
    max-width: 99%; }
  .box-sm-max-100 {
    max-width: 100%; }
  .box-sm-min-0 {
    min-width: 0%; }
  .box-sm-min-1 {
    min-width: 1%; }
  .box-sm-min-2 {
    min-width: 2%; }
  .box-sm-min-3 {
    min-width: 3%; }
  .box-sm-min-4 {
    min-width: 4%; }
  .box-sm-min-5 {
    min-width: 5%; }
  .box-sm-min-6 {
    min-width: 6%; }
  .box-sm-min-7 {
    min-width: 7%; }
  .box-sm-min-8 {
    min-width: 8%; }
  .box-sm-min-9 {
    min-width: 9%; }
  .box-sm-min-10 {
    min-width: 10%; }
  .box-sm-min-11 {
    min-width: 11%; }
  .box-sm-min-12 {
    min-width: 12%; }
  .box-sm-min-13 {
    min-width: 13%; }
  .box-sm-min-14 {
    min-width: 14%; }
  .box-sm-min-15 {
    min-width: 15%; }
  .box-sm-min-16 {
    min-width: 16%; }
  .box-sm-min-17 {
    min-width: 17%; }
  .box-sm-min-18 {
    min-width: 18%; }
  .box-sm-min-19 {
    min-width: 19%; }
  .box-sm-min-20 {
    min-width: 20%; }
  .box-sm-min-21 {
    min-width: 21%; }
  .box-sm-min-22 {
    min-width: 22%; }
  .box-sm-min-23 {
    min-width: 23%; }
  .box-sm-min-24 {
    min-width: 24%; }
  .box-sm-min-25 {
    min-width: 25%; }
  .box-sm-min-26 {
    min-width: 26%; }
  .box-sm-min-27 {
    min-width: 27%; }
  .box-sm-min-28 {
    min-width: 28%; }
  .box-sm-min-29 {
    min-width: 29%; }
  .box-sm-min-30 {
    min-width: 30%; }
  .box-sm-min-31 {
    min-width: 31%; }
  .box-sm-min-32 {
    min-width: 32%; }
  .box-sm-min-33 {
    min-width: 33%; }
  .box-sm-min-34 {
    min-width: 34%; }
  .box-sm-min-35 {
    min-width: 35%; }
  .box-sm-min-36 {
    min-width: 36%; }
  .box-sm-min-37 {
    min-width: 37%; }
  .box-sm-min-38 {
    min-width: 38%; }
  .box-sm-min-39 {
    min-width: 39%; }
  .box-sm-min-40 {
    min-width: 40%; }
  .box-sm-min-41 {
    min-width: 41%; }
  .box-sm-min-42 {
    min-width: 42%; }
  .box-sm-min-43 {
    min-width: 43%; }
  .box-sm-min-44 {
    min-width: 44%; }
  .box-sm-min-45 {
    min-width: 45%; }
  .box-sm-min-46 {
    min-width: 46%; }
  .box-sm-min-47 {
    min-width: 47%; }
  .box-sm-min-48 {
    min-width: 48%; }
  .box-sm-min-49 {
    min-width: 49%; }
  .box-sm-min-50 {
    min-width: 50%; }
  .box-sm-min-51 {
    min-width: 51%; }
  .box-sm-min-52 {
    min-width: 52%; }
  .box-sm-min-53 {
    min-width: 53%; }
  .box-sm-min-54 {
    min-width: 54%; }
  .box-sm-min-55 {
    min-width: 55%; }
  .box-sm-min-56 {
    min-width: 56%; }
  .box-sm-min-57 {
    min-width: 57%; }
  .box-sm-min-58 {
    min-width: 58%; }
  .box-sm-min-59 {
    min-width: 59%; }
  .box-sm-min-60 {
    min-width: 60%; }
  .box-sm-min-61 {
    min-width: 61%; }
  .box-sm-min-62 {
    min-width: 62%; }
  .box-sm-min-63 {
    min-width: 63%; }
  .box-sm-min-64 {
    min-width: 64%; }
  .box-sm-min-65 {
    min-width: 65%; }
  .box-sm-min-66 {
    min-width: 66%; }
  .box-sm-min-67 {
    min-width: 67%; }
  .box-sm-min-68 {
    min-width: 68%; }
  .box-sm-min-69 {
    min-width: 69%; }
  .box-sm-min-70 {
    min-width: 70%; }
  .box-sm-min-71 {
    min-width: 71%; }
  .box-sm-min-72 {
    min-width: 72%; }
  .box-sm-min-73 {
    min-width: 73%; }
  .box-sm-min-74 {
    min-width: 74%; }
  .box-sm-min-75 {
    min-width: 75%; }
  .box-sm-min-76 {
    min-width: 76%; }
  .box-sm-min-77 {
    min-width: 77%; }
  .box-sm-min-78 {
    min-width: 78%; }
  .box-sm-min-79 {
    min-width: 79%; }
  .box-sm-min-80 {
    min-width: 80%; }
  .box-sm-min-81 {
    min-width: 81%; }
  .box-sm-min-82 {
    min-width: 82%; }
  .box-sm-min-83 {
    min-width: 83%; }
  .box-sm-min-84 {
    min-width: 84%; }
  .box-sm-min-85 {
    min-width: 85%; }
  .box-sm-min-86 {
    min-width: 86%; }
  .box-sm-min-87 {
    min-width: 87%; }
  .box-sm-min-88 {
    min-width: 88%; }
  .box-sm-min-89 {
    min-width: 89%; }
  .box-sm-min-90 {
    min-width: 90%; }
  .box-sm-min-91 {
    min-width: 91%; }
  .box-sm-min-92 {
    min-width: 92%; }
  .box-sm-min-93 {
    min-width: 93%; }
  .box-sm-min-94 {
    min-width: 94%; }
  .box-sm-min-95 {
    min-width: 95%; }
  .box-sm-min-96 {
    min-width: 96%; }
  .box-sm-min-97 {
    min-width: 97%; }
  .box-sm-min-98 {
    min-width: 98%; }
  .box-sm-min-99 {
    min-width: 99%; }
  .box-sm-min-100 {
    min-width: 100%; } }

@media (min-width: 992px) {
  .box-md-0 {
    width: 0%; }
  .box-md-1 {
    width: 1%; }
  .box-md-2 {
    width: 2%; }
  .box-md-3 {
    width: 3%; }
  .box-md-4 {
    width: 4%; }
  .box-md-5 {
    width: 5%; }
  .box-md-6 {
    width: 6%; }
  .box-md-7 {
    width: 7%; }
  .box-md-8 {
    width: 8%; }
  .box-md-9 {
    width: 9%; }
  .box-md-10 {
    width: 10%; }
  .box-md-11 {
    width: 11%; }
  .box-md-12 {
    width: 12%; }
  .box-md-13 {
    width: 13%; }
  .box-md-14 {
    width: 14%; }
  .box-md-15 {
    width: 15%; }
  .box-md-16 {
    width: 16%; }
  .box-md-17 {
    width: 17%; }
  .box-md-18 {
    width: 18%; }
  .box-md-19 {
    width: 19%; }
  .box-md-20 {
    width: 20%; }
  .box-md-21 {
    width: 21%; }
  .box-md-22 {
    width: 22%; }
  .box-md-23 {
    width: 23%; }
  .box-md-24 {
    width: 24%; }
  .box-md-25 {
    width: 25%; }
  .box-md-26 {
    width: 26%; }
  .box-md-27 {
    width: 27%; }
  .box-md-28 {
    width: 28%; }
  .box-md-29 {
    width: 29%; }
  .box-md-30 {
    width: 30%; }
  .box-md-31 {
    width: 31%; }
  .box-md-32 {
    width: 32%; }
  .box-md-33 {
    width: 33%; }
  .box-md-34 {
    width: 34%; }
  .box-md-35 {
    width: 35%; }
  .box-md-36 {
    width: 36%; }
  .box-md-37 {
    width: 37%; }
  .box-md-38 {
    width: 38%; }
  .box-md-39 {
    width: 39%; }
  .box-md-40 {
    width: 40%; }
  .box-md-41 {
    width: 41%; }
  .box-md-42 {
    width: 42%; }
  .box-md-43 {
    width: 43%; }
  .box-md-44 {
    width: 44%; }
  .box-md-45 {
    width: 45%; }
  .box-md-46 {
    width: 46%; }
  .box-md-47 {
    width: 47%; }
  .box-md-48 {
    width: 48%; }
  .box-md-49 {
    width: 49%; }
  .box-md-50 {
    width: 50%; }
  .box-md-51 {
    width: 51%; }
  .box-md-52 {
    width: 52%; }
  .box-md-53 {
    width: 53%; }
  .box-md-54 {
    width: 54%; }
  .box-md-55 {
    width: 55%; }
  .box-md-56 {
    width: 56%; }
  .box-md-57 {
    width: 57%; }
  .box-md-58 {
    width: 58%; }
  .box-md-59 {
    width: 59%; }
  .box-md-60 {
    width: 60%; }
  .box-md-61 {
    width: 61%; }
  .box-md-62 {
    width: 62%; }
  .box-md-63 {
    width: 63%; }
  .box-md-64 {
    width: 64%; }
  .box-md-65 {
    width: 65%; }
  .box-md-66 {
    width: 66%; }
  .box-md-67 {
    width: 67%; }
  .box-md-68 {
    width: 68%; }
  .box-md-69 {
    width: 69%; }
  .box-md-70 {
    width: 70%; }
  .box-md-71 {
    width: 71%; }
  .box-md-72 {
    width: 72%; }
  .box-md-73 {
    width: 73%; }
  .box-md-74 {
    width: 74%; }
  .box-md-75 {
    width: 75%; }
  .box-md-76 {
    width: 76%; }
  .box-md-77 {
    width: 77%; }
  .box-md-78 {
    width: 78%; }
  .box-md-79 {
    width: 79%; }
  .box-md-80 {
    width: 80%; }
  .box-md-81 {
    width: 81%; }
  .box-md-82 {
    width: 82%; }
  .box-md-83 {
    width: 83%; }
  .box-md-84 {
    width: 84%; }
  .box-md-85 {
    width: 85%; }
  .box-md-86 {
    width: 86%; }
  .box-md-87 {
    width: 87%; }
  .box-md-88 {
    width: 88%; }
  .box-md-89 {
    width: 89%; }
  .box-md-90 {
    width: 90%; }
  .box-md-91 {
    width: 91%; }
  .box-md-92 {
    width: 92%; }
  .box-md-93 {
    width: 93%; }
  .box-md-94 {
    width: 94%; }
  .box-md-95 {
    width: 95%; }
  .box-md-96 {
    width: 96%; }
  .box-md-97 {
    width: 97%; }
  .box-md-98 {
    width: 98%; }
  .box-md-99 {
    width: 99%; }
  .box-md-100 {
    width: 100%; }
  .box-md-max-0 {
    max-width: 0%; }
  .box-md-max-1 {
    max-width: 1%; }
  .box-md-max-2 {
    max-width: 2%; }
  .box-md-max-3 {
    max-width: 3%; }
  .box-md-max-4 {
    max-width: 4%; }
  .box-md-max-5 {
    max-width: 5%; }
  .box-md-max-6 {
    max-width: 6%; }
  .box-md-max-7 {
    max-width: 7%; }
  .box-md-max-8 {
    max-width: 8%; }
  .box-md-max-9 {
    max-width: 9%; }
  .box-md-max-10 {
    max-width: 10%; }
  .box-md-max-11 {
    max-width: 11%; }
  .box-md-max-12 {
    max-width: 12%; }
  .box-md-max-13 {
    max-width: 13%; }
  .box-md-max-14 {
    max-width: 14%; }
  .box-md-max-15 {
    max-width: 15%; }
  .box-md-max-16 {
    max-width: 16%; }
  .box-md-max-17 {
    max-width: 17%; }
  .box-md-max-18 {
    max-width: 18%; }
  .box-md-max-19 {
    max-width: 19%; }
  .box-md-max-20 {
    max-width: 20%; }
  .box-md-max-21 {
    max-width: 21%; }
  .box-md-max-22 {
    max-width: 22%; }
  .box-md-max-23 {
    max-width: 23%; }
  .box-md-max-24 {
    max-width: 24%; }
  .box-md-max-25 {
    max-width: 25%; }
  .box-md-max-26 {
    max-width: 26%; }
  .box-md-max-27 {
    max-width: 27%; }
  .box-md-max-28 {
    max-width: 28%; }
  .box-md-max-29 {
    max-width: 29%; }
  .box-md-max-30 {
    max-width: 30%; }
  .box-md-max-31 {
    max-width: 31%; }
  .box-md-max-32 {
    max-width: 32%; }
  .box-md-max-33 {
    max-width: 33%; }
  .box-md-max-34 {
    max-width: 34%; }
  .box-md-max-35 {
    max-width: 35%; }
  .box-md-max-36 {
    max-width: 36%; }
  .box-md-max-37 {
    max-width: 37%; }
  .box-md-max-38 {
    max-width: 38%; }
  .box-md-max-39 {
    max-width: 39%; }
  .box-md-max-40 {
    max-width: 40%; }
  .box-md-max-41 {
    max-width: 41%; }
  .box-md-max-42 {
    max-width: 42%; }
  .box-md-max-43 {
    max-width: 43%; }
  .box-md-max-44 {
    max-width: 44%; }
  .box-md-max-45 {
    max-width: 45%; }
  .box-md-max-46 {
    max-width: 46%; }
  .box-md-max-47 {
    max-width: 47%; }
  .box-md-max-48 {
    max-width: 48%; }
  .box-md-max-49 {
    max-width: 49%; }
  .box-md-max-50 {
    max-width: 50%; }
  .box-md-max-51 {
    max-width: 51%; }
  .box-md-max-52 {
    max-width: 52%; }
  .box-md-max-53 {
    max-width: 53%; }
  .box-md-max-54 {
    max-width: 54%; }
  .box-md-max-55 {
    max-width: 55%; }
  .box-md-max-56 {
    max-width: 56%; }
  .box-md-max-57 {
    max-width: 57%; }
  .box-md-max-58 {
    max-width: 58%; }
  .box-md-max-59 {
    max-width: 59%; }
  .box-md-max-60 {
    max-width: 60%; }
  .box-md-max-61 {
    max-width: 61%; }
  .box-md-max-62 {
    max-width: 62%; }
  .box-md-max-63 {
    max-width: 63%; }
  .box-md-max-64 {
    max-width: 64%; }
  .box-md-max-65 {
    max-width: 65%; }
  .box-md-max-66 {
    max-width: 66%; }
  .box-md-max-67 {
    max-width: 67%; }
  .box-md-max-68 {
    max-width: 68%; }
  .box-md-max-69 {
    max-width: 69%; }
  .box-md-max-70 {
    max-width: 70%; }
  .box-md-max-71 {
    max-width: 71%; }
  .box-md-max-72 {
    max-width: 72%; }
  .box-md-max-73 {
    max-width: 73%; }
  .box-md-max-74 {
    max-width: 74%; }
  .box-md-max-75 {
    max-width: 75%; }
  .box-md-max-76 {
    max-width: 76%; }
  .box-md-max-77 {
    max-width: 77%; }
  .box-md-max-78 {
    max-width: 78%; }
  .box-md-max-79 {
    max-width: 79%; }
  .box-md-max-80 {
    max-width: 80%; }
  .box-md-max-81 {
    max-width: 81%; }
  .box-md-max-82 {
    max-width: 82%; }
  .box-md-max-83 {
    max-width: 83%; }
  .box-md-max-84 {
    max-width: 84%; }
  .box-md-max-85 {
    max-width: 85%; }
  .box-md-max-86 {
    max-width: 86%; }
  .box-md-max-87 {
    max-width: 87%; }
  .box-md-max-88 {
    max-width: 88%; }
  .box-md-max-89 {
    max-width: 89%; }
  .box-md-max-90 {
    max-width: 90%; }
  .box-md-max-91 {
    max-width: 91%; }
  .box-md-max-92 {
    max-width: 92%; }
  .box-md-max-93 {
    max-width: 93%; }
  .box-md-max-94 {
    max-width: 94%; }
  .box-md-max-95 {
    max-width: 95%; }
  .box-md-max-96 {
    max-width: 96%; }
  .box-md-max-97 {
    max-width: 97%; }
  .box-md-max-98 {
    max-width: 98%; }
  .box-md-max-99 {
    max-width: 99%; }
  .box-md-max-100 {
    max-width: 100%; }
  .box-md-min-0 {
    min-width: 0%; }
  .box-md-min-1 {
    min-width: 1%; }
  .box-md-min-2 {
    min-width: 2%; }
  .box-md-min-3 {
    min-width: 3%; }
  .box-md-min-4 {
    min-width: 4%; }
  .box-md-min-5 {
    min-width: 5%; }
  .box-md-min-6 {
    min-width: 6%; }
  .box-md-min-7 {
    min-width: 7%; }
  .box-md-min-8 {
    min-width: 8%; }
  .box-md-min-9 {
    min-width: 9%; }
  .box-md-min-10 {
    min-width: 10%; }
  .box-md-min-11 {
    min-width: 11%; }
  .box-md-min-12 {
    min-width: 12%; }
  .box-md-min-13 {
    min-width: 13%; }
  .box-md-min-14 {
    min-width: 14%; }
  .box-md-min-15 {
    min-width: 15%; }
  .box-md-min-16 {
    min-width: 16%; }
  .box-md-min-17 {
    min-width: 17%; }
  .box-md-min-18 {
    min-width: 18%; }
  .box-md-min-19 {
    min-width: 19%; }
  .box-md-min-20 {
    min-width: 20%; }
  .box-md-min-21 {
    min-width: 21%; }
  .box-md-min-22 {
    min-width: 22%; }
  .box-md-min-23 {
    min-width: 23%; }
  .box-md-min-24 {
    min-width: 24%; }
  .box-md-min-25 {
    min-width: 25%; }
  .box-md-min-26 {
    min-width: 26%; }
  .box-md-min-27 {
    min-width: 27%; }
  .box-md-min-28 {
    min-width: 28%; }
  .box-md-min-29 {
    min-width: 29%; }
  .box-md-min-30 {
    min-width: 30%; }
  .box-md-min-31 {
    min-width: 31%; }
  .box-md-min-32 {
    min-width: 32%; }
  .box-md-min-33 {
    min-width: 33%; }
  .box-md-min-34 {
    min-width: 34%; }
  .box-md-min-35 {
    min-width: 35%; }
  .box-md-min-36 {
    min-width: 36%; }
  .box-md-min-37 {
    min-width: 37%; }
  .box-md-min-38 {
    min-width: 38%; }
  .box-md-min-39 {
    min-width: 39%; }
  .box-md-min-40 {
    min-width: 40%; }
  .box-md-min-41 {
    min-width: 41%; }
  .box-md-min-42 {
    min-width: 42%; }
  .box-md-min-43 {
    min-width: 43%; }
  .box-md-min-44 {
    min-width: 44%; }
  .box-md-min-45 {
    min-width: 45%; }
  .box-md-min-46 {
    min-width: 46%; }
  .box-md-min-47 {
    min-width: 47%; }
  .box-md-min-48 {
    min-width: 48%; }
  .box-md-min-49 {
    min-width: 49%; }
  .box-md-min-50 {
    min-width: 50%; }
  .box-md-min-51 {
    min-width: 51%; }
  .box-md-min-52 {
    min-width: 52%; }
  .box-md-min-53 {
    min-width: 53%; }
  .box-md-min-54 {
    min-width: 54%; }
  .box-md-min-55 {
    min-width: 55%; }
  .box-md-min-56 {
    min-width: 56%; }
  .box-md-min-57 {
    min-width: 57%; }
  .box-md-min-58 {
    min-width: 58%; }
  .box-md-min-59 {
    min-width: 59%; }
  .box-md-min-60 {
    min-width: 60%; }
  .box-md-min-61 {
    min-width: 61%; }
  .box-md-min-62 {
    min-width: 62%; }
  .box-md-min-63 {
    min-width: 63%; }
  .box-md-min-64 {
    min-width: 64%; }
  .box-md-min-65 {
    min-width: 65%; }
  .box-md-min-66 {
    min-width: 66%; }
  .box-md-min-67 {
    min-width: 67%; }
  .box-md-min-68 {
    min-width: 68%; }
  .box-md-min-69 {
    min-width: 69%; }
  .box-md-min-70 {
    min-width: 70%; }
  .box-md-min-71 {
    min-width: 71%; }
  .box-md-min-72 {
    min-width: 72%; }
  .box-md-min-73 {
    min-width: 73%; }
  .box-md-min-74 {
    min-width: 74%; }
  .box-md-min-75 {
    min-width: 75%; }
  .box-md-min-76 {
    min-width: 76%; }
  .box-md-min-77 {
    min-width: 77%; }
  .box-md-min-78 {
    min-width: 78%; }
  .box-md-min-79 {
    min-width: 79%; }
  .box-md-min-80 {
    min-width: 80%; }
  .box-md-min-81 {
    min-width: 81%; }
  .box-md-min-82 {
    min-width: 82%; }
  .box-md-min-83 {
    min-width: 83%; }
  .box-md-min-84 {
    min-width: 84%; }
  .box-md-min-85 {
    min-width: 85%; }
  .box-md-min-86 {
    min-width: 86%; }
  .box-md-min-87 {
    min-width: 87%; }
  .box-md-min-88 {
    min-width: 88%; }
  .box-md-min-89 {
    min-width: 89%; }
  .box-md-min-90 {
    min-width: 90%; }
  .box-md-min-91 {
    min-width: 91%; }
  .box-md-min-92 {
    min-width: 92%; }
  .box-md-min-93 {
    min-width: 93%; }
  .box-md-min-94 {
    min-width: 94%; }
  .box-md-min-95 {
    min-width: 95%; }
  .box-md-min-96 {
    min-width: 96%; }
  .box-md-min-97 {
    min-width: 97%; }
  .box-md-min-98 {
    min-width: 98%; }
  .box-md-min-99 {
    min-width: 99%; }
  .box-md-min-100 {
    min-width: 100%; } }

@media (min-width: 1401px) {
  .box-lg-0 {
    width: 0%; }
  .box-lg-1 {
    width: 1%; }
  .box-lg-2 {
    width: 2%; }
  .box-lg-3 {
    width: 3%; }
  .box-lg-4 {
    width: 4%; }
  .box-lg-5 {
    width: 5%; }
  .box-lg-6 {
    width: 6%; }
  .box-lg-7 {
    width: 7%; }
  .box-lg-8 {
    width: 8%; }
  .box-lg-9 {
    width: 9%; }
  .box-lg-10 {
    width: 10%; }
  .box-lg-11 {
    width: 11%; }
  .box-lg-12 {
    width: 12%; }
  .box-lg-13 {
    width: 13%; }
  .box-lg-14 {
    width: 14%; }
  .box-lg-15 {
    width: 15%; }
  .box-lg-16 {
    width: 16%; }
  .box-lg-17 {
    width: 17%; }
  .box-lg-18 {
    width: 18%; }
  .box-lg-19 {
    width: 19%; }
  .box-lg-20 {
    width: 20%; }
  .box-lg-21 {
    width: 21%; }
  .box-lg-22 {
    width: 22%; }
  .box-lg-23 {
    width: 23%; }
  .box-lg-24 {
    width: 24%; }
  .box-lg-25 {
    width: 25%; }
  .box-lg-26 {
    width: 26%; }
  .box-lg-27 {
    width: 27%; }
  .box-lg-28 {
    width: 28%; }
  .box-lg-29 {
    width: 29%; }
  .box-lg-30 {
    width: 30%; }
  .box-lg-31 {
    width: 31%; }
  .box-lg-32 {
    width: 32%; }
  .box-lg-33 {
    width: 33%; }
  .box-lg-34 {
    width: 34%; }
  .box-lg-35 {
    width: 35%; }
  .box-lg-36 {
    width: 36%; }
  .box-lg-37 {
    width: 37%; }
  .box-lg-38 {
    width: 38%; }
  .box-lg-39 {
    width: 39%; }
  .box-lg-40 {
    width: 40%; }
  .box-lg-41 {
    width: 41%; }
  .box-lg-42 {
    width: 42%; }
  .box-lg-43 {
    width: 43%; }
  .box-lg-44 {
    width: 44%; }
  .box-lg-45 {
    width: 45%; }
  .box-lg-46 {
    width: 46%; }
  .box-lg-47 {
    width: 47%; }
  .box-lg-48 {
    width: 48%; }
  .box-lg-49 {
    width: 49%; }
  .box-lg-50 {
    width: 50%; }
  .box-lg-51 {
    width: 51%; }
  .box-lg-52 {
    width: 52%; }
  .box-lg-53 {
    width: 53%; }
  .box-lg-54 {
    width: 54%; }
  .box-lg-55 {
    width: 55%; }
  .box-lg-56 {
    width: 56%; }
  .box-lg-57 {
    width: 57%; }
  .box-lg-58 {
    width: 58%; }
  .box-lg-59 {
    width: 59%; }
  .box-lg-60 {
    width: 60%; }
  .box-lg-61 {
    width: 61%; }
  .box-lg-62 {
    width: 62%; }
  .box-lg-63 {
    width: 63%; }
  .box-lg-64 {
    width: 64%; }
  .box-lg-65 {
    width: 65%; }
  .box-lg-66 {
    width: 66%; }
  .box-lg-67 {
    width: 67%; }
  .box-lg-68 {
    width: 68%; }
  .box-lg-69 {
    width: 69%; }
  .box-lg-70 {
    width: 70%; }
  .box-lg-71 {
    width: 71%; }
  .box-lg-72 {
    width: 72%; }
  .box-lg-73 {
    width: 73%; }
  .box-lg-74 {
    width: 74%; }
  .box-lg-75 {
    width: 75%; }
  .box-lg-76 {
    width: 76%; }
  .box-lg-77 {
    width: 77%; }
  .box-lg-78 {
    width: 78%; }
  .box-lg-79 {
    width: 79%; }
  .box-lg-80 {
    width: 80%; }
  .box-lg-81 {
    width: 81%; }
  .box-lg-82 {
    width: 82%; }
  .box-lg-83 {
    width: 83%; }
  .box-lg-84 {
    width: 84%; }
  .box-lg-85 {
    width: 85%; }
  .box-lg-86 {
    width: 86%; }
  .box-lg-87 {
    width: 87%; }
  .box-lg-88 {
    width: 88%; }
  .box-lg-89 {
    width: 89%; }
  .box-lg-90 {
    width: 90%; }
  .box-lg-91 {
    width: 91%; }
  .box-lg-92 {
    width: 92%; }
  .box-lg-93 {
    width: 93%; }
  .box-lg-94 {
    width: 94%; }
  .box-lg-95 {
    width: 95%; }
  .box-lg-96 {
    width: 96%; }
  .box-lg-97 {
    width: 97%; }
  .box-lg-98 {
    width: 98%; }
  .box-lg-99 {
    width: 99%; }
  .box-lg-100 {
    width: 100%; }
  .box-lg-max-0 {
    max-width: 0%; }
  .box-lg-max-1 {
    max-width: 1%; }
  .box-lg-max-2 {
    max-width: 2%; }
  .box-lg-max-3 {
    max-width: 3%; }
  .box-lg-max-4 {
    max-width: 4%; }
  .box-lg-max-5 {
    max-width: 5%; }
  .box-lg-max-6 {
    max-width: 6%; }
  .box-lg-max-7 {
    max-width: 7%; }
  .box-lg-max-8 {
    max-width: 8%; }
  .box-lg-max-9 {
    max-width: 9%; }
  .box-lg-max-10 {
    max-width: 10%; }
  .box-lg-max-11 {
    max-width: 11%; }
  .box-lg-max-12 {
    max-width: 12%; }
  .box-lg-max-13 {
    max-width: 13%; }
  .box-lg-max-14 {
    max-width: 14%; }
  .box-lg-max-15 {
    max-width: 15%; }
  .box-lg-max-16 {
    max-width: 16%; }
  .box-lg-max-17 {
    max-width: 17%; }
  .box-lg-max-18 {
    max-width: 18%; }
  .box-lg-max-19 {
    max-width: 19%; }
  .box-lg-max-20 {
    max-width: 20%; }
  .box-lg-max-21 {
    max-width: 21%; }
  .box-lg-max-22 {
    max-width: 22%; }
  .box-lg-max-23 {
    max-width: 23%; }
  .box-lg-max-24 {
    max-width: 24%; }
  .box-lg-max-25 {
    max-width: 25%; }
  .box-lg-max-26 {
    max-width: 26%; }
  .box-lg-max-27 {
    max-width: 27%; }
  .box-lg-max-28 {
    max-width: 28%; }
  .box-lg-max-29 {
    max-width: 29%; }
  .box-lg-max-30 {
    max-width: 30%; }
  .box-lg-max-31 {
    max-width: 31%; }
  .box-lg-max-32 {
    max-width: 32%; }
  .box-lg-max-33 {
    max-width: 33%; }
  .box-lg-max-34 {
    max-width: 34%; }
  .box-lg-max-35 {
    max-width: 35%; }
  .box-lg-max-36 {
    max-width: 36%; }
  .box-lg-max-37 {
    max-width: 37%; }
  .box-lg-max-38 {
    max-width: 38%; }
  .box-lg-max-39 {
    max-width: 39%; }
  .box-lg-max-40 {
    max-width: 40%; }
  .box-lg-max-41 {
    max-width: 41%; }
  .box-lg-max-42 {
    max-width: 42%; }
  .box-lg-max-43 {
    max-width: 43%; }
  .box-lg-max-44 {
    max-width: 44%; }
  .box-lg-max-45 {
    max-width: 45%; }
  .box-lg-max-46 {
    max-width: 46%; }
  .box-lg-max-47 {
    max-width: 47%; }
  .box-lg-max-48 {
    max-width: 48%; }
  .box-lg-max-49 {
    max-width: 49%; }
  .box-lg-max-50 {
    max-width: 50%; }
  .box-lg-max-51 {
    max-width: 51%; }
  .box-lg-max-52 {
    max-width: 52%; }
  .box-lg-max-53 {
    max-width: 53%; }
  .box-lg-max-54 {
    max-width: 54%; }
  .box-lg-max-55 {
    max-width: 55%; }
  .box-lg-max-56 {
    max-width: 56%; }
  .box-lg-max-57 {
    max-width: 57%; }
  .box-lg-max-58 {
    max-width: 58%; }
  .box-lg-max-59 {
    max-width: 59%; }
  .box-lg-max-60 {
    max-width: 60%; }
  .box-lg-max-61 {
    max-width: 61%; }
  .box-lg-max-62 {
    max-width: 62%; }
  .box-lg-max-63 {
    max-width: 63%; }
  .box-lg-max-64 {
    max-width: 64%; }
  .box-lg-max-65 {
    max-width: 65%; }
  .box-lg-max-66 {
    max-width: 66%; }
  .box-lg-max-67 {
    max-width: 67%; }
  .box-lg-max-68 {
    max-width: 68%; }
  .box-lg-max-69 {
    max-width: 69%; }
  .box-lg-max-70 {
    max-width: 70%; }
  .box-lg-max-71 {
    max-width: 71%; }
  .box-lg-max-72 {
    max-width: 72%; }
  .box-lg-max-73 {
    max-width: 73%; }
  .box-lg-max-74 {
    max-width: 74%; }
  .box-lg-max-75 {
    max-width: 75%; }
  .box-lg-max-76 {
    max-width: 76%; }
  .box-lg-max-77 {
    max-width: 77%; }
  .box-lg-max-78 {
    max-width: 78%; }
  .box-lg-max-79 {
    max-width: 79%; }
  .box-lg-max-80 {
    max-width: 80%; }
  .box-lg-max-81 {
    max-width: 81%; }
  .box-lg-max-82 {
    max-width: 82%; }
  .box-lg-max-83 {
    max-width: 83%; }
  .box-lg-max-84 {
    max-width: 84%; }
  .box-lg-max-85 {
    max-width: 85%; }
  .box-lg-max-86 {
    max-width: 86%; }
  .box-lg-max-87 {
    max-width: 87%; }
  .box-lg-max-88 {
    max-width: 88%; }
  .box-lg-max-89 {
    max-width: 89%; }
  .box-lg-max-90 {
    max-width: 90%; }
  .box-lg-max-91 {
    max-width: 91%; }
  .box-lg-max-92 {
    max-width: 92%; }
  .box-lg-max-93 {
    max-width: 93%; }
  .box-lg-max-94 {
    max-width: 94%; }
  .box-lg-max-95 {
    max-width: 95%; }
  .box-lg-max-96 {
    max-width: 96%; }
  .box-lg-max-97 {
    max-width: 97%; }
  .box-lg-max-98 {
    max-width: 98%; }
  .box-lg-max-99 {
    max-width: 99%; }
  .box-lg-max-100 {
    max-width: 100%; }
  .box-lg-min-0 {
    min-width: 0%; }
  .box-lg-min-1 {
    min-width: 1%; }
  .box-lg-min-2 {
    min-width: 2%; }
  .box-lg-min-3 {
    min-width: 3%; }
  .box-lg-min-4 {
    min-width: 4%; }
  .box-lg-min-5 {
    min-width: 5%; }
  .box-lg-min-6 {
    min-width: 6%; }
  .box-lg-min-7 {
    min-width: 7%; }
  .box-lg-min-8 {
    min-width: 8%; }
  .box-lg-min-9 {
    min-width: 9%; }
  .box-lg-min-10 {
    min-width: 10%; }
  .box-lg-min-11 {
    min-width: 11%; }
  .box-lg-min-12 {
    min-width: 12%; }
  .box-lg-min-13 {
    min-width: 13%; }
  .box-lg-min-14 {
    min-width: 14%; }
  .box-lg-min-15 {
    min-width: 15%; }
  .box-lg-min-16 {
    min-width: 16%; }
  .box-lg-min-17 {
    min-width: 17%; }
  .box-lg-min-18 {
    min-width: 18%; }
  .box-lg-min-19 {
    min-width: 19%; }
  .box-lg-min-20 {
    min-width: 20%; }
  .box-lg-min-21 {
    min-width: 21%; }
  .box-lg-min-22 {
    min-width: 22%; }
  .box-lg-min-23 {
    min-width: 23%; }
  .box-lg-min-24 {
    min-width: 24%; }
  .box-lg-min-25 {
    min-width: 25%; }
  .box-lg-min-26 {
    min-width: 26%; }
  .box-lg-min-27 {
    min-width: 27%; }
  .box-lg-min-28 {
    min-width: 28%; }
  .box-lg-min-29 {
    min-width: 29%; }
  .box-lg-min-30 {
    min-width: 30%; }
  .box-lg-min-31 {
    min-width: 31%; }
  .box-lg-min-32 {
    min-width: 32%; }
  .box-lg-min-33 {
    min-width: 33%; }
  .box-lg-min-34 {
    min-width: 34%; }
  .box-lg-min-35 {
    min-width: 35%; }
  .box-lg-min-36 {
    min-width: 36%; }
  .box-lg-min-37 {
    min-width: 37%; }
  .box-lg-min-38 {
    min-width: 38%; }
  .box-lg-min-39 {
    min-width: 39%; }
  .box-lg-min-40 {
    min-width: 40%; }
  .box-lg-min-41 {
    min-width: 41%; }
  .box-lg-min-42 {
    min-width: 42%; }
  .box-lg-min-43 {
    min-width: 43%; }
  .box-lg-min-44 {
    min-width: 44%; }
  .box-lg-min-45 {
    min-width: 45%; }
  .box-lg-min-46 {
    min-width: 46%; }
  .box-lg-min-47 {
    min-width: 47%; }
  .box-lg-min-48 {
    min-width: 48%; }
  .box-lg-min-49 {
    min-width: 49%; }
  .box-lg-min-50 {
    min-width: 50%; }
  .box-lg-min-51 {
    min-width: 51%; }
  .box-lg-min-52 {
    min-width: 52%; }
  .box-lg-min-53 {
    min-width: 53%; }
  .box-lg-min-54 {
    min-width: 54%; }
  .box-lg-min-55 {
    min-width: 55%; }
  .box-lg-min-56 {
    min-width: 56%; }
  .box-lg-min-57 {
    min-width: 57%; }
  .box-lg-min-58 {
    min-width: 58%; }
  .box-lg-min-59 {
    min-width: 59%; }
  .box-lg-min-60 {
    min-width: 60%; }
  .box-lg-min-61 {
    min-width: 61%; }
  .box-lg-min-62 {
    min-width: 62%; }
  .box-lg-min-63 {
    min-width: 63%; }
  .box-lg-min-64 {
    min-width: 64%; }
  .box-lg-min-65 {
    min-width: 65%; }
  .box-lg-min-66 {
    min-width: 66%; }
  .box-lg-min-67 {
    min-width: 67%; }
  .box-lg-min-68 {
    min-width: 68%; }
  .box-lg-min-69 {
    min-width: 69%; }
  .box-lg-min-70 {
    min-width: 70%; }
  .box-lg-min-71 {
    min-width: 71%; }
  .box-lg-min-72 {
    min-width: 72%; }
  .box-lg-min-73 {
    min-width: 73%; }
  .box-lg-min-74 {
    min-width: 74%; }
  .box-lg-min-75 {
    min-width: 75%; }
  .box-lg-min-76 {
    min-width: 76%; }
  .box-lg-min-77 {
    min-width: 77%; }
  .box-lg-min-78 {
    min-width: 78%; }
  .box-lg-min-79 {
    min-width: 79%; }
  .box-lg-min-80 {
    min-width: 80%; }
  .box-lg-min-81 {
    min-width: 81%; }
  .box-lg-min-82 {
    min-width: 82%; }
  .box-lg-min-83 {
    min-width: 83%; }
  .box-lg-min-84 {
    min-width: 84%; }
  .box-lg-min-85 {
    min-width: 85%; }
  .box-lg-min-86 {
    min-width: 86%; }
  .box-lg-min-87 {
    min-width: 87%; }
  .box-lg-min-88 {
    min-width: 88%; }
  .box-lg-min-89 {
    min-width: 89%; }
  .box-lg-min-90 {
    min-width: 90%; }
  .box-lg-min-91 {
    min-width: 91%; }
  .box-lg-min-92 {
    min-width: 92%; }
  .box-lg-min-93 {
    min-width: 93%; }
  .box-lg-min-94 {
    min-width: 94%; }
  .box-lg-min-95 {
    min-width: 95%; }
  .box-lg-min-96 {
    min-width: 96%; }
  .box-lg-min-97 {
    min-width: 97%; }
  .box-lg-min-98 {
    min-width: 98%; }
  .box-lg-min-99 {
    min-width: 99%; }
  .box-lg-min-100 {
    min-width: 100%; } }

.m0 {
  margin: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.p0 {
  padding: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.m5 {
  margin: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.p5 {
  padding: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.m10 {
  margin: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.p10 {
  padding: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.m15 {
  margin: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.p15 {
  padding: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.m20 {
  margin: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.p20 {
  padding: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.m25 {
  margin: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.p25 {
  padding: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.m30 {
  margin: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.p30 {
  padding: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.m35 {
  margin: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.p35 {
  padding: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.m40 {
  margin: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.p40 {
  padding: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.m45 {
  margin: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.p45 {
  padding: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.m50 {
  margin: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.p50 {
  padding: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.m55 {
  margin: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.p55 {
  padding: 55px !important; }

.pt55 {
  padding-top: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.m60 {
  margin: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.p60 {
  padding: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.m65 {
  margin: 65px !important; }

.mt65 {
  margin-top: 65px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.ml65 {
  margin-left: 65px !important; }

.mr65 {
  margin-right: 65px !important; }

.p65 {
  padding: 65px !important; }

.pt65 {
  padding-top: 65px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pl65 {
  padding-left: 65px !important; }

.pr65 {
  padding-right: 65px !important; }

.m70 {
  margin: 70px !important; }

.mt70 {
  margin-top: 70px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.ml70 {
  margin-left: 70px !important; }

.mr70 {
  margin-right: 70px !important; }

.p70 {
  padding: 70px !important; }

.pt70 {
  padding-top: 70px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pl70 {
  padding-left: 70px !important; }

.pr70 {
  padding-right: 70px !important; }

.m75 {
  margin: 75px !important; }

.mt75 {
  margin-top: 75px !important; }

.mb75 {
  margin-bottom: 75px !important; }

.ml75 {
  margin-left: 75px !important; }

.mr75 {
  margin-right: 75px !important; }

.p75 {
  padding: 75px !important; }

.pt75 {
  padding-top: 75px !important; }

.pb75 {
  padding-bottom: 75px !important; }

.pl75 {
  padding-left: 75px !important; }

.pr75 {
  padding-right: 75px !important; }

.m80 {
  margin: 80px !important; }

.mt80 {
  margin-top: 80px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.ml80 {
  margin-left: 80px !important; }

.mr80 {
  margin-right: 80px !important; }

.p80 {
  padding: 80px !important; }

.pt80 {
  padding-top: 80px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pl80 {
  padding-left: 80px !important; }

.pr80 {
  padding-right: 80px !important; }

.m85 {
  margin: 85px !important; }

.mt85 {
  margin-top: 85px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.ml85 {
  margin-left: 85px !important; }

.mr85 {
  margin-right: 85px !important; }

.p85 {
  padding: 85px !important; }

.pt85 {
  padding-top: 85px !important; }

.pb85 {
  padding-bottom: 85px !important; }

.pl85 {
  padding-left: 85px !important; }

.pr85 {
  padding-right: 85px !important; }

.m90 {
  margin: 90px !important; }

.mt90 {
  margin-top: 90px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.ml90 {
  margin-left: 90px !important; }

.mr90 {
  margin-right: 90px !important; }

.p90 {
  padding: 90px !important; }

.pt90 {
  padding-top: 90px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pl90 {
  padding-left: 90px !important; }

.pr90 {
  padding-right: 90px !important; }

.m95 {
  margin: 95px !important; }

.mt95 {
  margin-top: 95px !important; }

.mb95 {
  margin-bottom: 95px !important; }

.ml95 {
  margin-left: 95px !important; }

.mr95 {
  margin-right: 95px !important; }

.p95 {
  padding: 95px !important; }

.pt95 {
  padding-top: 95px !important; }

.pb95 {
  padding-bottom: 95px !important; }

.pl95 {
  padding-left: 95px !important; }

.pr95 {
  padding-right: 95px !important; }

.m100 {
  margin: 100px !important; }

.mt100 {
  margin-top: 100px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.ml100 {
  margin-left: 100px !important; }

.mr100 {
  margin-right: 100px !important; }

.p100 {
  padding: 100px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pl100 {
  padding-left: 100px !important; }

.pr100 {
  padding-right: 100px !important; }

* {
  margin: 0;
  padding: 0; }

body {
  font: normal 15px/1.8 "秀英丸ゴシック B", "Shuei MaruGo B", Meiryo, Verdana, sans-serif;
  min-width: 300px;
  color: #5b5b5b;
  letter-spacing: .1rem;
  background: none !important; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

ul,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none; }

a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: 0.7;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }

#contentBase {
  width: 100%;
  max-width: 100%; }

#content {
  width: 100%;
  max-width: none;
  padding: 0; }

.wrap {
  max-width: 1000px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .wrap {
    padding: 0 30px; } }

.pc {
  display: block; }

.sp {
  display: none; }

@media screen and (max-width: 600px) {
  .pc {
    display: none; }
  .sp {
    display: block; } }

.ip6_pc {
  display: block !important; }

.ip6_sp {
  display: none !important; }

@media screen and (max-width: 767px) {
  .ip6_pc {
    display: none !important; }
  .ip6_sp {
    display: block !important; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }
